@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

html {
  font-size: 1vw;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  height: auto;
  background: #ffffff;
  z-index: 10;
}

.logo {
  padding: 1.875rem 4%;
  margin-right: auto;
  width: 5%;
  max-width: 5%;
  height: auto;
}

.name {
  position: absolute;
  margin-top: 4%;
  margin-right: 82%;
  font-family: Bubblegum Sans;
  font-size: 2.5rem;
  color: #6e6e6e;
}

.nav_links li {
  display: inline-block;
  padding: 0 1.875rem;

  font-family: Lato;
  font-weight: 600;
  font-size: 1.5rem;
  color: #6e6e6e;
  text-align: center;
}
.nav_links img {
  width: 100%;
  max-width: 3rem;
  height: auto;
  vertical-align: middle;
  padding: 0.625rem;
}

.nav_links ul {
  display: inline;
  vertical-align: middle;
}

.button-txt {
  font-family: Lato;
  font-weight: 600;
  font-size: 1.5rem;
  color: #241663;
  padding: 0 1.25rem;
}

.button-img {
  width: 100%;
  max-width: 3.375rem;
  height: auto;
}
.cart {
  padding: 0.625rem;
  position: fixed;

  width: 18%;
  height: auto;

  margin-top: 11%;
  margin-left: 82%;

  background-color: #fffcb2;
  border: 0;
  border-radius: 2rem 0 0 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.intro {
  margin-left: 5%;
  padding-top: 13%;
  position: relative;
}
.intro-img {
  position: absolute;
  width: 100%;
  max-width: 34rem;
  height: auto;
  z-index: 3;
}
.intro-txt {
  position: absolute;
  background-color: #ffe49463;
  border-radius: 1.875rem;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.5rem;
  color: #000;
  width: 54.4375rem;
  height: 24.75rem;
  margin-top: 4rem;
  margin-left: 27rem;
  z-index: 2;
}
.intro-txt-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.875rem;
  padding-left: 9.4375rem;
  padding-right: 6.5625rem;
}
.intro-txt-2 {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 1rem;
  padding-left: 9.4375rem;
  line-height: 2rem;
}
.intro-txt ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.intro-txt li::before {
  content: "> ";
  color: #f06f38; /* or whatever color you prefer */
}

.intro-img-bg {
  position: absolute;
  width: 100%;
  max-width: 34rem;
  height: auto;
  z-index: 0;
  margin-left: 42%;
  margin-right: 25%;
  margin-top: 6%;
}

.perks {
  background-color: #fffcb2;
  padding: 3rem 0;
  margin-top: 40rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perks .perks-img {
  padding: 0 0 0 3.3rem;
  width: 100%;
  max-width: 4.4375rem;
  height: auto;
}

.perks .perks-txt {
  padding: 0 3.3rem 0 1rem;
  font-family: Lato;
  font-weight: 500;
  font-size: 2rem;
  color: #f06f38;
}
